*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: "Sofia", sans-serif;
    color: thistle;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(7,10,19);
}
.container h3{
    
    color: rgba(79, 79, 140, 0.722);
}
.container img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}